/* You can add global styles to this file, and also import other style files */
.backchoice {
  background-color: #80aaff;
  height: 100px;
  border-radius: 10px;
}

.backchoice:hover {
  background-color: #b3ccff;
}
