<h2>Mes Factures</h2>
<ul class="factures">
  <li *ngFor="let facture of factures$ | async"
    [class.selected]="factures.id === selectedId">
    <a [routerLink]="['/facture', facture.id]">
      <span class="badge">{{ facture.id }}</span>{{ factures.name }}
    </a>
  </li>
</ul>
