
  <div class="jumbotron text-center">
  <h1>Connecteur reseaux </h1>
  <p>Préparez vos document de STEG</p>
</div>

<button routerLink="/formulaire"  class="container-fluid bg-2 text-center backchoice">
  <h3>Connecteur Résidentiel</h3>
  <p>Installation à Domicile</p>
</button>

<button class="container-fluid bg-3 text-center backchoice">
  <h3>Connecteur Commercial</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</button>

<button class="container-fluid bg-3 text-center backchoice">
  <h3>Connecteur industriel</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</button>
<button (click)="goBack()">Retourner</button>
