  <div class="jumbotron text-center">
  <h1>Mon Projet photovoltaique</h1>
  <p>Estimez vous projet dans 24H</p>
</div>

<button routerLink="/connecteurres" class="container-fluid bg-2 text-center backchoice ">
  <h3>Connecteur reseaux</h3>
  <p>NB : vous possédez d'une connection direct avec une société d'éléctricité</p>
</button>

<button class="container-fluid bg-3 text-center backchoice ">
  <h3>Site isolé</h3>
  <p>NB : Vous avez aucune connection éléctrique</p>
</button>

<button class="container-fluid bg-3 text-center backchoice ">
  <h3>Pompage solaire</h3>
  <p>NB : vous avez aucune connection éléctrique</p>
</button>
