<!--The content below is only a placeholder and can be replaced.-->

<!-- Image and text -->
<div class="container">
  <div class="row">
      <div class="col-md-5 offset-md-4">
        <div class="col offset-md-1">
        <nav class="navbar avbar-light rounded-pill  " style="background-color: #FFFFFF;">
            <a class="navbar text-primary" href="#">
              <div>
              <img src="../assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
              Universal Energy
              </div>
            </a>
        </nav>
        </div>
     </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
