
  <div class="jumbotron text-center">
  <h1>Formulaire De Connecteur réseaux </h1>
  <p>Vous trouvez votre la référence dans les document de STEG</p>
</div>

  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #FormuaireConRsd="ngForm">
       <div class="form-row">
        <!-- champs NOM -->
        <div class="form-group col-md-6">
          <label for="name">Nom</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="model.name" name="name"
                 #name="ngModel" ngModel pattern="[a-zA-Z ]*">
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Champs nom est vide
          </div>
        </div>

        <!-- champs PRENOM -->
        <div class="form-group col-md-6">
          <label for="prenom">Prenom</label>
          <input type="text" class="form-control b" id="prenom"
                 required
                 [(ngModel)]="model.prenom" name="prenom"
                 #prenom="ngModel" ngModel pattern="[a-zA-Z ]*">
          <div [hidden]="prenom.valid || prenom.pristine"
               class="alert alert-danger">
            champs prenom est vide
          </div>
        </div>

        <!-- champs Address-->
        <!-- champs numero Rue-->
      <div class="form-group col-md-1">
        <label for="nrue">Numero</label>
        <input type="number" class="form-control" id="nrue"
               required
               [(ngModel)]="model.address.nrue" name="nrue"
                #nrue="ngModel" ngModel pattern="[0-9]*">
        <div [hidden]="nrue.valid || nrue.pristine"
             class="alert alert-danger">
          champs Rue est vide
        </div>
      </div>

          <!-- champs nom Rue-->
        <div class="form-group col-md-5">
          <label for="rue">Rue</label>
          <input type="text" class="form-control " id="rue"
                 required
                 [(ngModel)]="model.address.rue" name="rue"
                  #rue="ngModel" ngModel pattern="[a-zA-Z ]*">
          <div [hidden]="rue.valid || rue.pristine"
               class="alert alert-danger">
            champs Rue est vide
          </div>
        </div>

          <!-- champs ville-->
        <div class="form-group col-md-4">
          <label for="ville">Ville</label>
          <input type="text" class="form-control" id="ville"
                 required
                 [(ngModel)]="model.address.ville" name="ville"
                 #ville="ngModel" ngModel pattern="[a-zA-Z ]*" >
          <div [hidden]="ville.valid || ville.pristine"
               class="alert alert-danger">
            champs code postale est vide
          </div>
        </div>

          <!-- champs code postale-->
        <div class="form-group col-md-2" >
          <label for="cp">Code postale</label>
          <input type="number" class="form-control" id="cp"
                 required
                 [(ngModel)]="model.address.cp" name="cp"
                 #cp="ngModel" ngModel pattern="[0-9]*" >
          <div [hidden]="cp.valid || cp.pristine"
               class="alert alert-danger">
            champs code postale est vide
          </div>
        </div>

          <!-- champs numero telephone-->
        <div class="form-group col-md-12" >
          <label for="telephone">Numéro de téléphone</label>
          <input type="number" class="form-control" id="telephone"
                 required
                 [(ngModel)]="model.telephone" name="telephone"
                 #telephone="ngModel" ngModel pattern="[0-9]*">
          <div [hidden]="telephone.valid || telephone.pristine"
               class="alert alert-danger">
            champs code postale est vide
          </div>
        </div>

          <!-- champs e-mail-->
        <div class="form-group col-md-12" >
          <label for="mail">Email</label>
          <input type="email"  class="form-control" id="mail"
                 required
                 [(ngModel)]="model.mail" name="email"
                 #mail="ngModel" ngModel [email]="true">
          <div [hidden]="mail.valid || mail.pristine"
               class="alert alert-danger">
            champs code postale est vide
          </div>
        </div>

          <!-- champs consomation-->
        <div class="form-group col-md-12">
          <label for="cons">Consomation (KW/H) </label>
          <input type="text" class="form-control" id="cons"
                 required
                 [(ngModel)]="model.cons" name="cons"
                 #cons="ngModel">
          <div [hidden]="cons.valid || cons.pristine"
               class="alert alert-danger">
            champs code postale est vide
          </div>
        </div>
      </div>
      <br>
      <button type="submit(); " class="btn btn-success d-block " (click)="postData()" [disabled]="!FormuaireConRsd.form.valid" >Submit</button>

    </form>
  </div>


  <div [hidden]="!submitted">
  <div [hidden]="success" class="alert alert-success">Votre formulaire a été bien envoyé</div>
  <div [hidden]="!success" class="alert alert-warning">Erreu lors de l'envoie</div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>

<button (click)="goBack()">Retourner</button>
